.arrows {
    position: absolute;
    width: 90%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.arrow-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #ffffff1a;
    border: 1px solid #00f7ff4d;
    transition: .5s;
    opacity: .8;
}

.arrow-btn:hover {
    background-color: #00f7ff33;
    border-color: #00f7ff;
    filter: drop-shadow(0 0 10px #00f7ff4d);
    opacity: 1;
}